body{font-family: Raleway}
.slide1{
    background: url(../img/bg.jpg);
    background-size: cover; 
}
.slide2{
    background: #e8e8e8;
    background-size: cover; 
}
.fb   {background: rgba(52, 104, 157,0.5);border:2px solid #34689D;}
.fb:before {background: none repeat scroll 0 0 #34689D !important;}
.login{background: rgba(92, 195, 174,0.5);border:2px solid #5CC3AE;margin-left: 30px;}
.login:before {background: none repeat scroll 0 0 #5CC3AE !important;}
.treatedbtn:before {
    
    content: "";
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.treatedbtn {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    height: 48px;
    letter-spacing: 1px;
    line-height: 48px;
    max-width: 350px;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 330px;
    z-index: 3;
    cursor: pointer;
    
}
.treatedbtn:hover:before {
    height: 430%;
    opacity: 1;
}
.treatedbtn:hover, .treatedbtn:active {
    color: #fff;
    text-decoration: none;
}
.headContent{
text-align: center;
padding-top:150px;
}
.logotext{
font-size: 30px;
margin: 30px 0;          
text-shadow: 2px 2px 4px #000;
color:#fff;
-webkit-text-shadow: 2px 2px 4px #000;
}

.social{display: block;position: absolute;
        top:30px;
        right: 60px;
        font-size: 30px;
        color:#5CC3AE;
        border: 2px solid;
        line-height: 60px;
        width:50px;height: 50px;
        padding:10px 0;
        text-align: center;
        
border-radius: 50%;-webkit-border-radius: 50%;
}
.social:hover{color:#fff;}
.fBook {right:120px;}
.greenColor{color:#5CC3AE;}
#phoneContainer {width: 30%;float:left;}
.hideIt{display: none}
.coverIt{visibility: hidden}
.slideWrapper{padding-top: 50px;}
.slideRight{margin-left: 100px;animation: slideRight 1s ease-in-out}
.textContainer{width: 60%;float: right;}
.brick{width:70%;height: 80px;border:1px solid #5CC3AE;box-shadow: 2px 2px 5px #888;margin: 50px auto;padding: 15px 15px}
.slideLeft{animation: bigEntrance 1s ease-in-out}
.brick i {
    float: left;
    font-size: 50px;
}
.brick p {
    font-size: 30px;
    margin-left: 75px;
}
.flickIt{animation: flick 1s linear}
.flickItRight{animation: flickRight 1s linear}
.centerMe{text-align: center;}
.imgHldr{
    width: 300px;
    margin: 0 auto;
}
.textHead{ font-size: 3em;}
.tablets{padding-top: 50px;}
.textSub{width:80%; font-size: 1.5em;margin: 0 auto;text-align: justify}
footer ul{list-style: none;}
footer ul li{display: inline-block;padding:10px 10px 0px 10px }
footer .subFooter{margin-bottom: 10px;}
.imgHldr img{width:100%;height: auto;}
@keyframes flick{
    0% {transform:translateX(0px)}
50% {transform:translateX(30px)}
50% {transform:translateX(-10px)}
100% {transform:translateX(0px)}
}
@keyframes flickRight{
    0% {transform:translateX(0px)}
50% {transform:translateX(-20px)}
50% {transform:translateX(30px)}
100% {transform:translateX(0px)}
}
@keyframes slideRight {
0% {
    transform: translateX(-150%);
}
50% {
    transform: translateX(8%);
}
65% {
    transform: translateX(-4%);
}
80% {
    transform: translateX(4%);
}
95% {
    transform: translateX(-2%);
}
100% {
    transform: translateX(0%);
}
}

@keyframes bigEntrance {
0% {
    opacity: 0.2;
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
}
30% {
    opacity: 1;
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
}
45% {
    opacity: 1;
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
}
60% {
    opacity: 1;
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
}
75% {
    opacity: 1;
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
}
90% {
    opacity: 1;
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
}
100% {
    opacity: 1;
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
}
}

@media (max-width:768px)
{
    .treatedbtn{display: block;margin:10px auto;max-width: 300px;}
    
}